*.classpath
*.project
*.DS_Store

/projeto2-parent/.settings
/projeto2-parent/projeto2-business/.settings
/projeto2-parent/projeto2-data/.settings
/projeto2-parent/projeto2-ear/.settings
/projeto2-parent/projeto2-web/.settings
*.class

*.lst

*.jar

projeto2-parent/projeto2-business/target/surefire-reports/org\.projeto2\.business\.AppTest\.txt

projeto2-parent/projeto2-business/target/surefire-reports/TEST-org\.projeto2\.business\.AppTest\.xml

projeto2-parent/projeto2-data/target/surefire-reports/org\.projeto2\.data\.AppTest\.txt

projeto2-parent/projeto2-data/target/surefire-reports/TEST-org\.projeto2\.data\.AppTest\.xml

*.ear

projeto2-parent/projeto2-ear/target/maven-archiver/pom\.properties

*.war

projeto2-parent/projeto2-web/target/surefire-reports/org\.projeto2\.web\.AppTest\.txt

projeto2-parent/projeto2-web/target/surefire-reports/TEST-org\.projeto2\.web\.AppTest\.xml
