*.classpath
*.project
*.DS_Store

*.class

*.lst

*.jar


*.ear

*.war

projeto3-parent/rest/shopapi/shopapi/settings.py

projeto3-parent/project/target/maven-archiver/

projeto3-parent/project/target/

projeto3-parent/rest/shopapi/dbinfo/migrations/

projeto3-parent/rest/shopapi/statistics/migrations/
